<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happycake.mapper.AdminMapper">
    <select id="queryAdminId" resultType="string" parameterType="Admin">
        SELECT admin_id FROM admin WHERE admin_username=#{adminUsername} and admin_password=#{adminPassword}
    </select>
</mapper>